<div class="calculator-container w-container">
  <div class="calc-background-field">
    <div class="formula">{{expression}}</div>
    <div class="_100 calcelement">
      <div class="text-field-wrapper w-form">
        <form data-name="calculator io" id="wf-form-calculator-io" name="wf-form-calculator-io">
          <input
          class="text-field w-input"
          data-name="lcd"
          id="lcd"
          maxlength="256"
          name="lcd"
          placeholder="0"
          type="text"
          pattern="[0-9-+*/.()]"
          [(ngModel)]="lcdValue"
          [style.background-color]="lcdBackGroundColor"
          readonly>
        </form>
      </div>
    </div>
    <div (click)="calcButtonPress('(')" class="_25 button calcelement">(</div>
    <div (click)="calcButtonPress(')')" class="_25 button calcelement">)</div>
    <div (click)="clearButtonPress('')" class="_25 _50 button calcelement">
      {{clearValue}}
    </div>
    <div (click)="calcButtonPress('7')" class="_25 bold button calcelement">7</div>
    <div (click)="calcButtonPress('8')" class="_25 bold button calcelement">8</div>
    <div (click)="calcButtonPress('9')" class="_25 bold button calcelement">9</div>
    <div (click)="calcButtonPress('/')" class="_25 button calcelement">÷</div>
    <div (click)="calcButtonPress('4')" class="_25 bold button calcelement">4</div>
    <div (click)="calcButtonPress('5')" class="_25 bold button calcelement">5</div>
    <div (click)="calcButtonPress('6')" class="_25 bold button calcelement">6</div>
    <div (click)="calcButtonPress('*')" class="_25 button calcelement">x</div>
    <div (click)="calcButtonPress('1')" class="_25 bold button calcelement">1</div>
    <div (click)="calcButtonPress('2')" class="_25 bold button calcelement">2</div>
    <div (click)="calcButtonPress('3')" class="_25 bold button calcelement">3</div>
    <div (click)="calcButtonPress('-')" class="_25 button calcelement">-</div>
    <div (click)="calcButtonPress('0')" class="_25 bold button calcelement">0</div>
    <div (click)="calcButtonPress('.')" class="_25 button calcelement">.</div>
    <div (click)="evaluate()" class="_25 button calcelement">=</div>
    <div (click)="calcButtonPress('+')" class="_25 button calcelement">+</div>
  </div>
</div>