<div class="hero">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-7">
        <h1 class="logo-text">JS Calculator</h1>
        <p class="subtitle">This calculator does not use eval(). 
          It converts the mathematical expression to the 
          <a href="https://en.wikipedia.org/wiki/Reverse_Polish_notation">Reverse Polish Notation</a>
          using the 
          <a href="https://en.wikipedia.org/wiki/Shunting-yard_algorithm">Shunting-yard algorithm</a> 
          and evaluates it manually.</p>
      </div>
      <div class="calculator-column w-col w-col-5">
        <js-calculator></js-calculator>
      </div>
    </div>
    <div class="links">
      <a href="http://www.stijnwinand.com"><img class="powered" src="images/Untitled-1.png" title="stijnwinand.com"></a>
      <a href="https://github.com/Whipgit/angular2-calculator"><img class="powered" src="images/github.png" title="Find this code on github"></a>
      <a href="https://angular.io"><img class="powered" src="images/8448280c4dbe5e70-32x32.png" title="Powered by Angular2"></a>
      <a href="https://www.typescriptlang.org/"><img class="powered" src="images/32X32_TSlogo.png" title="TypeScript"></a>
      <a href="https://www.javascript.com/"><img class="powered" src="images/js-32x32.png" title="JavaScript"></a>
    </div>
  </div>
</div>